footer {
  border-left: 1px solid #d35400;
  border-right: 1px solid #d35400;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 20px 0;
  background: #d35400;
  text-align: center;

  #footer-logo {
  }

  .footer-social-media {
    margin: 0; padding:0;
    list-style-type: none;
    margin-right:40px;
    float:right;

    li {
      float: left;
      margin: 10px;
    }
  }

  .footer-links {
    margin: 0 0 0 0; padding: 10px 0 0 0;
    clear: both;
    list-style-type: none;
    color:#fff;
  }


}
