//*******************************************************\\
// _header.scss
//*******************************************************\\

$body-color: #fbf7e4;
$accent-color: #e67e22;

body {
    margin: 0;
    background-color: $body-color;
}

header {

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0px;
  background: $accent-color;
  border-left: 1px solid $accent-color;
  border-right: 1px solid $accent-color;
  height: 58px;

  img {
    padding-left: 10px;
    float: left;
  }

  form {
    display: block;
    width:   319px;
    height:  28px;
    margin:  15px 10px 15px 0;
    padding: 0 0 0 10px;
    background-color: #fff;
    border:  0;
    border-radius: 3px;
    float:   right;

    label {
      display: none;
    }

    #header-search-input {
      height:  100%;
      width:   90%;
      border:  0;
      padding: 0;
      background-color: transparent;
      outline: 0;
    }

    #header-search-button {
      height:  100%;
      width:   10%;
      background: transparent url(../img/icon-search.png) no-repeat center;
      cursor:  pointer;
      border:  0;
      float:   right;
      display: inline;
      padding: 0;

      &:hover {
        background-color: #eee;
      }
    }
  }
}

nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 52px;
  background: #fff;
  border-left: 1px solid $accent-color;
  border-right: 1px solid $accent-color;

  .nav-buttons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;

    li {

      float: left;
      padding: 10px;
      width: 60px;
      vertical-align: middle;
      text-align: center;
      border-left: 1px solid #bbb;
      background: transparent;
      position: relative;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 1px solid #bbb;
      }

      &:hover {
        background: #eee;
        cursor: pointer;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: -15px;
          border-radius: 5px;
          background: red;
          width: 60px;
          margin: 0 auto;
          color: #fff;
        }
      }

      &:active {
        box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        background: #eee;
        cursor: pointer;
      }
    }
  }
}
